{% extends 'base.html.twig' %}

{% block title %}Article {{ article.title }}{% endblock %}

{% block body %}
    <h1>{{ article.title }}</h1>
    <p>{{ article.content }} </p>
    <p> created_at: {{ article.createdAt|date("m/d/Y") }} </p>
    <p> updated_at: {{ article.updatedAt|date("m/d/Y") }} </p>


{% endblock %}